* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Spartan", sans-serif;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background: #f5f7fa;
}

main {
  max-width: 1250px;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  margin: 50px 0;
}

body::before {
  content: "";
  display: block;
  width: 584px;
  height: 362px;
  background: url("./img/bg-pattern-top-desktop.svg");
  position: absolute;
  top: 0;
  left: 0;
}

body::after {
  content: "";
  display: block;
  width: 1085px;
  height: 673px;
  background: url("./img/bg-pattern-bottom-desktop.svg");
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
}

.titulo {
  flex: 1;
  min-width: 420px;
}

.titulo h1 {
  max-width: 16ch;
  font-size: 3rem;
  color: #0b0c12;
  line-height: 1;
}

.titulo h1 span {
  color: #18a0fb;
}

.titulo p {
  max-width: 35ch;
  font-size: 1rem;
  line-height: 1.563;
  margin-top: 10px;
}

.estrelas {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
}

.estrelas > div:nth-child(1) {
  align-self: flex-start;
}

.estrelas > div:nth-child(2) {
  align-self: center;
}

.estrelas > div:nth-child(3) {
  align-self: flex-end;
}

.estrelas > div {
  display: flex;
  padding: 20px 30px;
  background-color: #e8f6ff;
  border-radius: 10px;
  max-width: 505px;
  width: 505px;
  gap: 20px;
  color: #00234c;
}

.estrelas-bg {
  display: flex;
  gap: 10px;
}

.estrelas-bg img {
  max-width: 17px;
  max-height: 16px;
}

.estrelas p {
  font-weight: 600;
  font-size: 13px;
  white-space: nowrap;
}

.comentarios {
  display: flex;
  flex-wrap: wrap;
  margin-top: 75px;
  gap: 30px;
  color: #f5f7fa;
  height: 270px;
}

.comentario {
  border-radius: 10px;
  background: #0b0c12;
  flex: 1 1 365px;
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 20px;
  padding: 32px;
  height: 240px;
}

.comentario:nth-child(1) {
  align-self: flex-start;
}

.comentario:nth-child(2) {
  align-self: center;
}

.comentario:nth-child(3) {
  align-self: flex-end;
}

.comentario img {
  width: 40px;
  border-radius: 100%;
}

.comentario h2 {
  font-size: 0.875rem;
}

.comentario p {
  grid-column: 1/-1;
  line-height: 1.563;
  font-size: 0.875rem;
}

.nome p {
  font-size: 0.875rem;
  color: #18a0fb;
}

@media (max-width: 1195px) {
  body {
    display: initial;
  }
  .comentarios {
    height: initial;
  }
  .comentario p {
    align-self: start;
  }
}

@media (max-width: 965px) {
  .estrelas {
    margin-top: 25px;
  }
  .estrelas > div {
    justify-content: center;
    max-width: initial;
    width: 100%;
  }
  .titulo h1 {
    max-width: initial;
    text-align: center;
  }
  .titulo p {
    max-width: initial;
    text-align: center;
  }
}

@media (max-width: 800px) {
  .titulo h1 {
    font-size: 2rem;
  }
}

@media (max-width: 585px) {
  body::before {
    width: 374px;
    height: 232px;
    background: url("./img/bg-pattern-top-mobile.svg");
  }

  body::after {
    width: 375px;
    height: 503px;
    background: url("./img/bg-pattern-bottom-mobile.svg");
  }
}

@media (max-width: 545px) {
  .estrelas > div {
    flex-wrap: wrap;
  }
  .estrelas p {
    white-space: initial;
    text-align: center;
  }
  .comentario {
    height: initial;
  }
}

@media (max-width: 461px) {
  .titulo {
    min-width: 220px;
  }
  .estrelas {
    min-width: 220px;
  }
}

@media (max-width: 374px) {
  body::before {
    width: 0;
    height: 0;
  }

  body::after {
    width: 0;
    height: 0;
  }
}



